services:
  http:
    build:
      context: ./http
      dockerfile: Dockerfile
    # curl -XPOST "http://localhost:9001/2015-03-31/functions/function/invocations" -d '{}'
    ports:
      - 9001:8080

  ws:
    build:
      context: ./ws
      dockerfile: Dockerfile
    # curl -XPOST "http://localhost:9002/2015-03-31/functions/function/invocations" -d '{}'
    ports:
      - 9002:8080
    environment:
      - AWS_ACCESS_KEY_ID="fake_key_id"
      - AWS_SECRET_ACCESS_KEY="fake_key"
      - AWS_SESSION_TOKEN="fake_token"
      - AWS_DEFAULT_REGION=us-east-1
      - AWS_REGION=us-east-1
      - LAMBDA_ENDPOINT=http://lite-hub:3002
      - API_GATEWAY_ENDPOINT=http://lite-hub:3001/dev # stage is required

  worker:
    build:
      context: ./worker
      dockerfile: Dockerfile
    # curl -XPOST "http://localhost:9003/2015-03-31/functions/function/invocations" -d '{}'
    ports:
      - 9003:8080

  rest:
    build:
      context: ./rest
      dockerfile: Dockerfile
    # curl -XPOST "http://localhost:9004/2015-03-31/functions/function/invocations" -d '{}'
    ports:
      - 9004:8080

  lite-hub:
    restart: always
    build:
      context: ..
      dockerfile: Dockerfile
    ports:
      - 3000:3000
      - 3001:3001
      - 3002:3002
    environment:
      - FUNCTION_ENDPOINT=ws=http://ws:8080,http=http://http:8080,worker=http://worker:8080,rest=http://rest:8080
      - PATH_MAPPING=/api=http,/rest=rest
      - WS_FUNCTION=ws
      - HTTP_V1_PAYLOAD_FUNCTIONS=rest
    stop_grace_period: 1s
