name: Test

on:
  push:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "**/README.md"
  pull_request:
    branches: [main]
    paths-ignore:
      - "docs/**"
      - "**/README.md"

env:
  CI: true # https://typicode.github.io/husky/how-to.html#ci-server-and-docker
  NODE_VERSION: 22.x
  PNPM_VERSION: 10

jobs:
  typecheck:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-env
      - run: pnpm tsc --noEmit

  format:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-env
      - run: pnpm prettier --check --log-level warn .

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-env
      - run: pnpm eslint .

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: ./.github/actions/setup-pnpm-env
      - run: pnpm vitest --run --passWithNoTests
